*,:after,:before{box-sizing:border-box}
html, body {
  height: 100%;
}
body{
    background-color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8x;
    
}
h1{
  letter-spacing: 2px;
  font-weight: bold;
  
}
section {
  text-align: center;
  background-color: gainsboro;
  padding: 3px;
}


ul{
  list-style: none;
  padding: 10px;
}
li{
  list-style: none;
}

#hamnav {
    width: 100%;
    background: rgb(144, 175, 233);
    padding: 8px;
  }
  
  #hamitems { display: flex; }
  #hamitems a {
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
  }

  #hamitems a:hover { background: #b5bdc7; }
  
  
  #hamnav label, #hamburger { display: none; }

  img{
   padding: 8px;
    height: 100px;
  }

  #about{
    background-color: #C0C0C0;
    display: flex;
  }

  #contact{
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 1em;
    font-size: large;
    letter-spacing: 1px;
   border: 3px solid rgba(0, 0, 0, 0.425);
   background-color: #C0C0C0;
  }
  
 
#footer{
  padding: 1em ; 
  width: 100%;
  margin: auto;   
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  font-size: large;
  letter-spacing: 2px;
  background-color: rgb(144, 175, 233);
}

#footer li{
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
#footer a{
  color: whitesmoke;
}

@media screen and (max-width: 768px){
  
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
   
    #hamnav label { 
      display: inline-block; 
      color: whitesmoke;
      background: rgb(144, 175, 233);
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }

  
  @media screen and (min-width: 769px){
    .flex-container{
    display: flex;
    }
    .flex-child{
      flex: 1;
      
    }

    
  }